body {
    width: 100%;
    max-width: 1400px;
    font-family: "Montserrat", serif;
}

main {
    width: 100%;
    max-width: 1000px;
}

h1, h2, h3 {
    font-family: "Montserrat", serif;
}

footer {
    background-color: #252525;
    color: white;
    padding: 2em;
}

footer > section {
    padding: 0.1em;
}

footer li {
    list-style-type: none;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    row-gap: 1em;
}

.flags li {
    display: flex;
    padding-right: 1em;
    align-items: center;
    gap: 1em;
}

.flags img {
    width: 2.5em;
}

.payment-methods-list {
    display: flex;
    gap: 0.9em;
    padding: 0;
}

.customer-service-list {
    padding: 0;
}

.customer-service-list li a {
    color: white;
    text-decoration: none;
}

.social-media-list {
    display: flex;
    gap: 0.9em;
    padding: 0;
}

.container {
    display: flex;
    gap: 2em;
}

h4.normal {
    font-weight: normal;
}

i.fa-brands {
    font-size: 2em;
}

i.fa-solid {
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.left-global-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.right-global-nav {
    display: flex;
    list-style-type: none;
    font-size: 1.5em;
    padding: 0;
}

nav .logo img {
    width: 4em;
    margin-right: 1em;
}

nav a {
    font-size: 0.7em;
    margin-right: 1em;
}

.navigation-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    width: 200px;
    gap: 0.25em;
}

fieldset {
    border-color: white;
    padding: 1.5em 0.9em;
}

.sign-up {
    display: flex;
    gap: 0.2em;
    input[type="submit"] {
	height: 2.2em;
        font-weight: 900;
        border: none;
        border-radius: 0.4em;
        background-color: #ffcf40;
    }
    input[type="email"] {
        border: none;
        border-radius: 0.4em;
        padding-left: 0.5em;
    }
}

.btn {
    display: inline-flex;
    width: 7em;
    height: 3em;
    background-color: #1ca2c1;
    text-decoration: none;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1024px) {

}
