body {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    font-family: "Montserrat", serif;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: white;
}

main {
    width: 100%;
    max-width: 1000px;
    align-self: center;
}

main .button {
    border: 1px solid lightgray;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
}

main .button i.fa-solid {
    font-size: 1.2em;
    padding-left: 0.2em;
}

#progress-bar {
    display: flex;
    background-color: #1ca2c1;
    align-items: center;
    overflow: auto;
}

#progress-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
}

#progress-bar i.fa-solid {
    color: white;
}

.information-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
}

.person-1 {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #f6f5f2;
    border: none;
}

.person-2 {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #f6f5f2;
    border: none;
}

.person-2 input, select {
    padding: 0.5em;
}

.person-1 input, select {
    padding: 0.5em;
}

.person-2 label {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

.person-1 label {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

.birthday-div {
    display: flex;
    gap: 2em;
    padding: 1em 0em;
}

.birthday-div input {
    flex: 1;
}

.gender-div {
    padding-top: 1em;
    padding-bottom: 1em;
}

.person-2 h4 {
    margin: 0;
}

.person-2 label:first-of-type {
    padding-top: 0;
}


.person-1 h4 {
    margin: 0;
}

.person-1 label:first-of-type {
    padding-top: 0;
}

.information-form #button-next {
    background-color: #ffcf40;
    border-color: #ffcf40;
    border-radius: 0.5em;
    width: 10em;
    height: 3.5em;
    font-size: 1em;
    font-weight: bold;
}

#button-next i.fa-solid {
    font-size: 1em;
    padding-left: 0.4em;
}

h1, h2, h3 {
    font-family: "Montserrat", serif;
}

footer {
    width: 100%;
    background-color: #252525;
    color: white;
    padding: 2em;
    box-sizing: border-box;
}

footer > section {
    padding: 0.1em;
}

footer li {
    list-style-type: none;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    row-gap: 1em;
}

.flags li {
    display: flex;
    padding-right: 1em;
    align-items: center;
    gap: 1em;
}

.flags img {
    width: 2.5em;
}

.logo {
    font-size: 1.5em;
}

.payment-methods-list {
    display: flex;
    gap: 0.9em;
    padding: 0;
}

.customer-service-list {
    padding: 0;
}

.customer-service-list li a {
    color: white;
    text-decoration: none;
}

.social-media-list {
    display: flex;
    gap: 0.9em;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.logo-menu-nav {
    list-style-type: none;
    padding: 0;
}

.navigation-links li a {
    display: none;
}

h4.normal {
     font-weight: normal;
}

i.fa-brands {
    font-size: 2em;
}

i.fa-solid {
     color: black;
     font-size: 2.5em;
}

.icons-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 1.5em;
    align-items: center;
    padding: 0;
}

.text-nav {
    display: none;
}

nav .logo img {
    width: 5em;
    margin-right: 1em;
}

nav a {
    font-size: 0.7em;
    margin-right: 1em;
}

.navigation-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    gap: 0.25em;
}

fieldset {
    border-color: white;
    padding: 1.5em 0.9em;
}

.sign-up {
    display: flex;
    gap: 0.2em;
    input[type="submit"] {
	height: 2.2em;
        font-weight: 900;
        border: none;
        border-radius: 0.4em;
        background-color: #ffcf40;
    }
    input[type="email"] {
        border: none;
        border-radius: 0.4em;
        padding-left: 0.5em;
    }
}

@media screen and (min-width: 526px) {
    .navigation-links {
        display: inline-flex;
    }
}

@media screen and (min-width: 854px) {
    .footer-screen-size-layer-2 {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0;
        gap: 2em;
        padding: 0;
        justify-content: space-evenly;
    }
    .container {
        flex: 1;
        gap: 0;
        justify-content: space-evenly;
    }    
    .navigation-links li a {
	display: block;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .logo-menu-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding-right: 0.5em;
    }
    .logo-menu-nav li {
        font-size: 1.5em;
    }
    nav {
        display: block;
	justify-content: space-between;
    }

    .text-nav {
    	display: flex;
    	justify-content: flex-end;
    	list-style-type: none;
    	font-size: 1.5em;
	align-items: center;
    	padding: 0;
    }
    .text-nav li a {
        text-decoration: none;
    }
    .icons-nav {
        display: none;
    }
    .text-nav .button {
        border-radius: 25px;
        border: 1px solid #027792;
    }
    .text-nav li a {
        color: #027792;
	font-weight: bold;
        padding: 0.5em;
    }
    .text-nav li a i.fa-regular {
        font-size: 1.2em;
        padding-right: 0.9em;
    }
}

@media screen and (min-width: 1024px) {

}
